h1 {
  text-align: center;
}
p {
  display: block;
}
footer {
  text-align: center;
  display: block;
  margin: 10px;
}
footer a {
  margin: 20px;
  color: #ffb000;
}
.p-contact {
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  border: 1 solid #333;
  border-radius: 15px;
}
